window-rule {
    geometry-corner-radius 8 // Set every window radius to 20
    clip-to-geometry true
}

window-rule {
    match app-id="firefox"
    match app-id="zen$"
    match app-id="kitty"
    match app-id="Thunderbird$"
    match app-id="brave"
    match app-id="teams$"
    match app-id="balatro"
    match app-id="brotato"
    open-maximized true
}     

window-rule {
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    open-floating true
    default-floating-position x=250 y=250 relative-to="bottom-left"

}


// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia"
  open-floating true
  default-column-width { fixed 1200; }
  default-window-height { fixed 1000; }
}


window-rule {
    match app-id=r#"^steam$"# title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="zoom"
    open-floating true
}


layer-rule {
   match namespace="^noctalia-wallpaper*"
   place-within-backdrop true
}
