[Desktop Entry]
Categories=Settings;HardwareSettings;
Comment=Configure NVIDIA X Server Settings
Encoding=UTF-8
Exec=/usr/bin/nvidia-settings
Icon=nvidia-settings
Name=NVIDIA X Server Settings
Type=Application
